# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/build
**/xcode
**/Release
**/Debug
**/.vscode
**/.vs
**/CPTCMakeBuild
**/Blast4/media
.DS_Store
Thumbs.db
*.oa
*.ncb
*.sln
*.suo
*.vap
*.dbp
*.ilk
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.cpt_backup
*.clang-tidy
*.csv
src/.clang-tidy
saved-game.txt
